body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  
  header {
    background-color: #2b1e15;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #2b1e15;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  